<!doctype html>
<html>

<head>
  <base th:href="${baseHref}" />
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dashboard Panel</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
<link rel="stylesheet" href="/app/styles.40dcbb4baee0ccbae195.css"></head>
<script th:inline="javascript">
  /*<![CDATA[*/
  window["INJECTED_ENVIRONMENT"] = {
    serviceInstanceId: [[${ serviceInstanceId }]],
    token: [[${ token }]],
    production: false,
    baseUrls: {
      serviceBrokerUrl: [[${ endpointUrl }]],
    },
    customEndpoints: [[${ customEndpoints }]],
    ui: {
      title: "Service Broker Panel",
      logoSrc: "./assets/core/sb-white.svg"
    }
  };

  /*]]>*/
</script>

<body>
  <wrapper class="d-flex flex-column">
    <sb-root>
    </sb-root>    
  </wrapper>
<script src="/app/runtime-es2015.5d79e60c8d0d9d0617aa.js" type="module"></script><script src="/app/runtime-es5.5d79e60c8d0d9d0617aa.js" nomodule defer></script><script src="/app/polyfills-es5.e63d98cdd9b074cbef64.js" nomodule defer></script><script src="/app/polyfills-es2015.7ca425c401a765e6b00f.js" type="module"></script><script src="/app/main-es2015.9717cb1f60d79bf3be6f.js" type="module"></script><script src="/app/main-es5.9717cb1f60d79bf3be6f.js" nomodule defer></script></body>
</html>